{% extends "layouts/app.html" %}

{% block content %}
    <div class="container mx-auto flex justify-center items-center min-h-screen">
        <form action="/login" method="post" class="bg-white p-10 w-96">
            <p class="text-center text-2xl font-semibold">Sing up</p>
            <div class="flex flex-col mt-4 gap-3">
                <input type="text" class="h-[60px] w-full bg-gray-100 pl-4" placeholder="Your email" name="email">
                <input type="text" class="h-[60px] w-full bg-gray-100 pl-4" placeholder="Your password" name="password">
                <button class="bg-green-400 flex items-center justify-center text-lg font-semibold text-white py-4 hover:bg-green-600 transition duration-200">Login</button>
            </div>
            <p class="text-center mt-3 text-gray-400">
                Not registered? <a href="#" class="text-green-400 hover:text-green-500">Create an acount</a>
            </p>
        </form>
    </div>
{% endblock content %}